<?xml version="1.0" encoding="utf-8"?><plugin name="Citrix NetScaler NITRO Developers Guide for Java" id="com.citrix.netscaler.nitro.dev_guide" version="1.0" provider-name="DITA"><extension point="org.eclipse.help.toc"><toc file="ns-nitro-api-java-plugin-map-10.xml" primary="true"/></extension><extension point="org.eclipse.help.index"><index file="index.xml"/></extension></plugin>